body {
    margin: 0;
   
}

#olxIcon {
    width: 55px;
    height: 35px;
    margin-left: 20px;
}
#carIcon {
    width: 30px;
    height: 35px;
}
#bikeIcon {
    width: 30px;
    height: 30px;
}

.header-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #EBF1FF;

}

#sellIcon {
    width: 80px;
    height: 55px;
    margin-right: 20px;
}

.header-middle {
    display: flex;
    align-items: center;
    gap: 15px;
}